#include "resource.h"
// Version
#define V_FILEVERSION 0,0,7,8
#define V_FILEVERSION_STR "0.0.7.8\0"

#define V_PRODUCTVERSION 0,0,7,8
#define V_PRODUCTVERSION_STR "0.0.7.8\0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION V_FILEVERSION
 PRODUCTVERSION V_PRODUCTVERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "Muha"
            VALUE "FileDescription", "Uptime Application"
            VALUE "FileVersion", V_FILEVERSION_STR
            VALUE "InternalName", "muptime"
            VALUE "LegalCopyright", "Copyright (C) Muha, 2008"
            VALUE "OriginalFilename", "mupt_mingw.exe"
            VALUE "ProductName", "mUptime"
            VALUE "ProductVersion", V_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END


// Icon

IDI_ICON1               ICON                    "icon1.ico"
